body {
	color: #3E3E3E;
	background-color: #FBFFFF;
	margin: 30px;
	font-family: Verdana;
}

textarea {
	resize:vertical;
}

table {
	background-color: #37A7CC;
	text-align: left;
	width: 100%;
	border-color: #00376E;
	border-width: 2px;
	padding-left: 4px;
	padding-right: 4px;
}

form {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}
	
/* .textfield {
	width: 600px;
}
 */

.button {
	position: absolute;
	top: 10%;
	right: 10px;
	font-family: Verdana;
	font-weight: bold;
	background-color:#FBFFF;
	border:1px solid;
	border-color: #696 #363 #363 #696;
	}

/* td {
	background-color: #3EFF3E;
	padding-left: 0px;
	padding-right: 0px;
} */

input[type=text] {
	background-color: #DFFFFF;
	width: 100%;
	float: left;
}

table textarea {
	background-color: #DFFFFF;
	width: 100%;
	float: left;
}

#stdout {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 200px;
}

#stderr {
	display: block;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	height: 200px;
}
